
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url("")
}
main{
    flex: 1 0 auto;
    font-family: 'Inconsolata' ;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
    font-family: 'Inconsolata' ;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    font-family: 'Inconsolata' ;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-family: 'Inconsolata' ;
}

#wrapper{
    width:800px;
    border: 1px solid black;
    position: relative;
    
    
    }
    #first {
        width: 100px;
      float: left;
      
       }
    #second {
      
       position: absolute;
       top:0;
       left: 275px;
       right: 0;
       
    }
        nav div {
         
        text-align: center;
        width: 700px;
        padding: 30px;
     
        
    }

div { /*
	 height: 700px;
         width: 1000px; 
        text-align: right;*/
         padding: 30px;
         background-color: beige;
             /*#33AD5C;*/
       
}


